/* VARIABLES */
:root {
  --foreground: white;
  --background: lightgray;
}

/* General styling */

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.title {
  height: 10%;
  line-height: 200%;
  width: 100%;
  margin: 0;
}

.content {
  flex: 1;
  margin: 0;
}

#list {
  padding: 5px;
  /* consider padding size */
  height: calc(100% - 10px);
  width: calc(20% - 10px);

  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
}

.listItem {
  height: 35px;
  line-height: 35px;
  width: auto;
  padding-inline: 15px;
  font-weight: bold;
  overflow-x: hidden;
  background-color: var(--foreground);
}

#dialog > * {
  display: block;
  margin: 15px auto;
}

#actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.action {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: var(--background);
  border-radius: 50%;
  font-size: 24px;
  border: none;

  margin: 5px;

  justify-content: center;
  align-items: center;
}

/* This style is applied when clicked */
.action:active {
  filter: brightness(0.8);
}